/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    text-align: center;
    background-color: red;
}

.title {
    color: aquamarine
}

.subtitle {
    color: rgb(127, 255, 127);
}

.instructions {
    color: rgb(12, 255, 212);
    font-size: larger;
}

.text-box {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    max-width: 500px;
    margin: 0 auto;
}

.input-box {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    max-width: 500px;
    margin: 0 auto;

}

.answer-box {
    background-color: aliceblue;
    max-width: 600px;
    margin: 30px auto;
    color: black;

}

#send-task {
    margin: 25px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 35px;
    background-color: #3551f1;
    border: none;
    transition: all 0.8s;
    color: aliceblue;
}